div.phoneField

    label(for=name) #{label}
    input.phoneField__input(id=name, type="text", name=name, value=value, placeholder=placeholder)
    span.form-message-inline.errorPhone invalid phone number
    if required
        span.form-message-inline.required Обязательное поле
