div.textbox
    div.row
        div.col.col--2
            label(for=name) #{label}
        div.col.col--8
            div.textbox__input
                input.textbox__input-form(id=name, type=type, name=name, value=value, placeholder=label)

